<!DOCTYPE html>
<html lang="en" ng-app="formValidation">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Webmassa - Contact us to create website and advertizing design. Branding, corporate identity, product design and website development with full-responsive layout.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Webmassa - Contacts</title>

	<!-- @include _html_inc/page_head.html -->
</head>
<body class="site">
	<!-- @include _html_inc/page_header.html -->

	<article class="contacts container site-content" ng-controller="SettingsController">
    <h1>Contact Us</h1>
    <p class="subtitle">Please, choice what kind of project would You like to create:</p>

    <div class="project-choice row--no-gutter">
			<div class="col col--2-of-4 col--m-2-of-4 col--s-2-of-4">
	      <figure class="project-choice-item development-choice">
	        <img class="dev-ico" src="../img/SVG/Services/Development.svg" width="100" height="100">
	        <figcaption>
	          <a href="#"><strong class="strong-text">Create website</strong></a>
	        </figcaption>
	      </figure>
			</div>

			<div class="col col--2-of-4 col--m-2-of-4 col--s-2-of-4">
	      <figure class="project-choice-item design-choice col col--2-of-4">
	        <img class="design-ico" src="../img/SVG/Services/Design.svg" width="100" height="100">
	        <figcaption>
	          <a href="#"><strong class="strong-text">Advertising design</strong></a>
	        </figcaption>
	      </figure>
			</div>
    </div>

		<!-- DESIGN FORM -->
    <form name="design" class="design-form" autocomplete="off" ng-submit="updateSettings()">
			<!-- Hidden Required Fields -->
			<input type="hidden" name="project_name" value="Webmassa">
			<input type="hidden" name="admin_email" value="webmassa@mail.ru, avgur89@gmail.com">
			<input type="hidden" name="form_subject" value="Webmassa">
			<!-- END Hidden Required Fields -->

      <div class="radio-btn-wrapper">
        Design
				<input id="from-zero" name="design" type="radio" value="From zero" checked>
				<label class="radio-btn-label"  for="from-zero">From zero</label>
				<input id="remastering" name="design" type="radio" value="Remastering">
				<label class="radio-btn-label" for="remastering">Remastering</label>
      </div>

      <div class="options-wrapper">
        Material type<br>
        <select name="material type">
          <option value="Branding" selected>Branding</option>
          <option value="Corporate identity">Corporate identity</option>
          <option value="Product design">Product design</option>
          <option value="Advertizing design">Advertizing design</option>
					<option value="POSM">POSM</option>
        </select>
      </div>

			<div class="purpose-btn-wrapper">
        Purpose
				<input id="b2c" name="purpose" type="radio" value="B2C" checked>
				<label class="radio-btn-label"  for="b2c">B2C</label>
				<input id="b2b" name="purpose" type="radio" value="B2B">
				<label class="radio-btn-label" for="b2b">B2B</label>
      </div>

			<label class="url" for="url">Existing project URL</label>
			<input type="text" name="url" id="url">

			<label class="name" for="name">Your Name*</label>
			<input type="text" name="name" id="name" ng-model="settings.name" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[a-zA-Z]+$/" required>
			<div class="message" ng-show="design.name.$dirty && design.name.$invalid">
	      <div ng-show="design.name.$error.required"><p>Your name is required</p></div>
	      <div ng-show="design.name.$error.minlength"><p>Your name must be greater than 3 characters</p></div>
	      <div ng-show="design.name.$error.maxlength"><p>Your name cannot be greater than 20 characters</p></div>
	    </div>

			<label class="email" for="email">Your e-mail*</label>
			<input type="email" name="email" id="email" ng-model="settings.email" required>
			<div class="message" ng-show="design.email.$dirty && design.email.$invalid">
	      <div ng-show="design.email.$error.email"><p>That is not a valid email</p></div>
	    </div>

			<div class="message-wrapper">
				<p>Message</p>
				<textarea rows="2" cols="50" name="message"></textarea>
			</div>

			<div class="submit-btn-wrapper">
				<button type="submit" class="btn" ng-disabled="design.$dirty && design.$invalid">Go LIVE!</button>
			</div>
    </form> <!-- end design-form -->

		<!-- DEVELOPMENT FORM -->
		<form name="dev" class="development-form" autocomplete="off" ng-submit="updateSettings()">
			<!-- Hidden Required Fields -->
			<input type="hidden" name="project_name" value="Webmassa">
			<input type="hidden" name="admin_email" value="webmassa@mail.ru, avgur89@gmail.com">
			<input type="hidden" name="form_subject" value="Webmassa">
			<!-- END Hidden Required Fields -->

      <div class="radio-btn-wrapper">
        Development
				<input id="from-zero-dev" name="development" type="radio" value="From zero" checked>
				<label class="radio-btn-label"  for="from-zero-dev">From zero</label>
				<input id="remastering-dev" name="development" type="radio" value="Remastering">
				<label class="radio-btn-label" for="remastering-dev">Remastering</label>
      </div>

      <div class="options-wrapper">
        Website type<br>
        <select name="website type">
          <option value="Landing page" selected>Landing page</option>
          <option value="Corporate website">Corporate website</option>
          <option value="E-commerce">E-commerce</option>
          <option value="Blog">Blog</option>
					<option value="Portfolio">Portfolio</option>
        </select>
      </div>

			<div class="purpose-btn-wrapper">
        Layout type
				<input id="responsive" name="layout" type="radio" value="Responsive" checked>
				<label class="radio-btn-label"  for="responsive">Responsive</label>
				<input id="desktop" name="layout" type="radio" value="Desktop">
				<label class="radio-btn-label" for="desktop">Desktop</label>
      </div>

			<label class="url" for="url">Existing project URL</label>
			<input type="text" name="url" id="url">

			<label class="name" for="name">Your Name*</label>
			<input type="text" name="name" id="name" ng-model="settings.name" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[a-zA-Z]+$/" required>
			<div class="message" ng-show="dev.name.$dirty && dev.name.$invalid">
	      <div ng-show="dev.name.$error.required"><p>Your name is required</p></div>
	      <div ng-show="dev.name.$error.minlength"><p>Your name must be greater than 3 characters</p></div>
	      <div ng-show="dev.name.$error.maxlength"><p>Your name cannot be greater than 20 characters</p></div>
	    </div>

			<label class="email" for="email">Your e-mail*</label>
			<input type="email" name="email" id="email" ng-model="settings.email" required>
			<div class="message" ng-show="dev.email.$dirty && dev.email.$invalid">
	      <div ng-show="dev.email.$error.email"><p>That is not a valid email</p></div>
	    </div>

			<div class="message-wrapper">
				<p>Message</p>
				<textarea rows="2" cols="50" name="message"></textarea>
			</div>

			<div class="submit-btn-wrapper">
				<button type="submit" class="btn" ng-disabled="design.$dirty && design.$invalid">Go LIVE!</button>
			</div>
    </form> <!-- end development-form -->

    <div class="contact-us row--no-gutter">
      <p>or simply contact us by phone or e-mail:</p>
      <div class="contact-phone col col--2-of-4 col--m-2-of-4 col--s-2-of-3">
        <svg class="contact-phone-ico" xml:space="preserve" width="35px" height="35px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 35000 35000">
         <defs>
          <style type="text/css">
           <![CDATA[
            .phone {fill:#CC6666;fill-rule:nonzero}
           ]]>
          </style>
         </defs>
         <g>
          <path class="phone" d="M17500 2188c8443,0 15313,6869 15313,15312 0,8443 -6870,15313 -15313,15313 -8443,0 -15312,-6870 -15312,-15313 0,-8443 6869,-15312 15312,-15312zm0 -2189c-9664,0 -17501,7837 -17501,17501 0,9664 7837,17500 17501,17500 9664,0 17500,-7836 17500,-17500 0,-9664 -7836,-17501 -17500,-17501zm9756 23352l-98 -300c-231,-687 -991,-1405 -1692,-1596l-2587 -708c-700,-190 -1700,66 -2216,581l-935 936c-3401,-921 -6069,-3589 -6988,-6990l937 -936c512,-513 769,-1512 578,-2215l-705 -2588c-190,-700 -913,-1461 -1600,-1691l-296 -99c-689,-230 -1673,3 -2187,517l-1401 1402c-250,248 -410,959 -410,962 -47,4447 1696,8731 4841,11877 3136,3136 7404,4877 11837,4838 24,0 756,-156 1007,-405l1400 -1402c513,-510 744,-1495 515,-2183z"/>
         </g>
        </svg>
        <p>+7(965)243 4273<br>+38(063)597 8680</p>
      </div>

      <div class="contact-email col col--2-of-4 col--m-2-of-4 col--s-2-of-3">
        <svg class="contact-email-ico" xml:space="preserve" width="60px" height="42px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 60000 41999">
         <defs>
          <style type="text/css">
           <![CDATA[
            .email {fill:#CC6666;fill-rule:nonzero}
           ]]>
          </style>
         </defs>
         <g>
          <path class="email" d="M54369 42126l-48750 0c-3094,0 -5620,-2521 -5620,-5623l0 -31006c0,-3097 2526,-5623 5620,-5623l48750 0c3105,0 5632,2526 5632,5623l0 31006c0,3102 -2527,5623 -5632,5623zm-48750 -38498c-1026,0 -1866,841 -1866,1869l0 31006c0,1036 840,1878 1866,1878l48750 0c1038,0 1878,-842 1878,-1878l0 -31006c0,-1028 -840,-1869 -1878,-1869l-48750 0zm24382 22584c-1777,0 -3546,-658 -4928,-1984l-20991 -20252c-742,-722 -770,-1903 -45,-2657 721,-740 1902,-758 2653,-43l20985 20248c1299,1247 3331,1247 4632,0l21425 -20652c747,-724 1930,-696 2654,48 712,740 693,1931 -46,2642l-21425 20666c-1381,1326 -3147,1984 -4914,1984zm-28125 8974c-605,0 -1200,-294 -1565,-843 -567,-861 -331,-2023 528,-2600l20070 -13303c860,-576 2032,-338 2598,532 578,861 340,2023 -519,2599l-20079 13304c-321,210 -678,311 -1033,311zm56248 91c-358,0 -714,-100 -1036,-310l-19921 -13184c-860,-567 -1097,-1731 -530,-2593 567,-868 1731,-1105 2601,-529l19921 13173c859,567 1097,1731 530,2600 -367,541 -960,843 -1565,843z"/>
         </g>
        </svg>
        <p class="contact-email-link">
          <a href="mailto:webmassa@mail.ru">webmassa@mail.ru</a><br>
          <a href="mailto:mail@webmassa.ru">mail@webmassa.ru</a>
        </p>
      </div>
    </div>

	</article> <!-- end contacts -->


	<!-- @include _html_inc/page_footer.html -->

	<!--[if lt IE 9]>
	<script src="../libs/html5shiv/es5-shim.min.js"></script>
	<script src="../libs/html5shiv/html5shiv.min.js"></script>
	<script src="../libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="../libs/respond/respond.min.js"></script>
	<![endif]-->

	<!-- @include _html_inc/page_bottom.html -->
	<script src="../libs/angular/angular.min.js"></script>
	<script src="../js/email/script.js"></script>
	<script src="../js/email/validation.js"></script>
</body>
</html>