/* -------- PORTFOLIO PAGE -------- */
.portfolio {
  @extend %clearfix;
  h1 {
    text-align: center;
    @include respond-to(769px) {
      font-size: 5.5rem;
      line-height: 1.14;
      padding: 20px 0;
    };
  }
  .item-bg {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 57, 57, .9);
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    p {
      display: inline-block;
      line-height: 1.2;
      vertical-align: middle;
      font-family: $font-family-headings;
      font-size: $font-size-h5;
      letter-spacing: 0.5px;
      font-weight: normal;
      @include respond-to(1200px) {
        font-size: 2rem;
        max-width: 96%;
        text-align: center;
      };
      @include respond-to(769px) {
        font-size: 1.8rem;
      };
      @include respond-to(481px) {
        font-size: 1.4rem;
      };
      strong {
        font-weight: normal;
      }
    }
  }
}


/* -------- Portfolio Filter -------- */
.portfolio-filter {
  padding-bottom: 30px;
  @include respond-to(500px) {
    padding-bottom: 10px;
  };
  text-align: center;
  .all-projects {
    margin-top: 20px;
    @include respond-to(500px) {
      margin-top: 0;
    }
  }
  .projects-btn {
    margin-left: 30px;
    @include respond-to(500px) {
      display: block;
      max-width: 200px;
      margin: 10px auto 20px auto;
    };
    &:first-child {
      margin-left: 0;
      @include respond-to(500px) {
        margin-left: auto;
      };
    }
    &:active,
    &.is-checked {
      background-color: $link-color-hover;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    }
  }
}

/* -------- Layout -------- */
.grid {
  /* fluid 4 columns */
  .grid-sizer,
  .grid-item {
    width: 23%;
    margin-bottom: 20px;
    text-align: center;
    // cursor: pointer;
    @include respond-to(768px) {
      width: 49%;
    };
    &:hover .item-bg {
      display: block;
      color: $text-color;
    }
  }
  .gutter-sizer {
    width: 2%;
    @include respond-to(768px) {
      width: 2%;
    };
  }
  /* 2 columns */
  .grid-item--width2 {
    width: 48%;
    @include respond-to(768px) {
      width: 98%;
    };
  }
}
