/* -------- BUTTONS -------- */
.btn,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 30px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: $line-height;
  color: $text-color;
  background-color: $link-color;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: .1rem;

  &:hover,
  &:active,
  &:focus {
    color: $text-color;
    outline: 0;
    background-color: $link-color-hover;
    text-decoration: none;
  }
}

.btn-mobile {
  @include respond-to(769px) {
    @extend .btn;
    padding: 3px 20px;
    font-size: 1.4rem;
  };
}
